:root {
    --border-radius : 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.clear {
    background-color: #ff4136;
}

.number, .decimal {
    background-color: #fff;
    color: #333;
}

.operator {
    background-color: #0074d9;
    color: #fff;
}

.equal {
    background-color: #01ff71;
    grid-row: span 3;
    color: #fff;
}

