/**
* ? universal selector and header 
*/

:root {
    --primary-color: #334155;
    --secondary-color : #fff;
    --btn-background: #4ca8e1;
    --btn-background-hover: #0091ff;
    --border-radius: 5px;
  }
  


/**
* ? universal selector and header 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

/**
* ? nav bar style
*/

header nav {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--primary-color);
}

nav .logo h1 {
    font-size: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 44%;
}

nav ul li {
    list-style-type: none;
    color: var(--secondary-color);
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
}

nav ul li:not(:last-child) a:hover,
nav ul li a.active {
    text-decoration: underline 3px;
    text-underline-offset: 4px;
    color: var(--btn-background);
    text-decoration-color: #fff;
}

nav ul .login {
    font-weight: 700;
    padding: 8px 20px;
    border: none;
    background: var(--btn-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--secondary-color);
}

nav ul .login:hover {
    background-color: var(--btn-background-hover);
}

nav .humberger {
    display: none;
    font-size: 30px;
}

/**
* ? main style
*/

main, footer {
    color: #000;
    width: 90%;
    margin: 2rem auto;
}
.page-title {
    width: 100%;
    text-align: center;
}

.page-title h1 {
    font-size: 3rem;
}


.articles {
    display: grid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: #; */
    grid-template-columns: repeat(3, auto);
    gap: 3rem;
    margin: 1rem auto;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.article img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.article .body{
    padding: 1rem;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.article .body .title {
    font-family: 1.5rem;
}

.article .body .body-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.article .body .body-text img {
    width: 40px;
    height: 40px;
}

.article .body .body-text h4{
    color: #30363f;
}

.article a{
    text-decoration: none;
    /* font-weight: 700; */
    padding: 8px 10px;
    border: none;
    background: var(--btn-background);
    border-radius: 6px;
    cursor: pointer;
    color: var(--secondary-color);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}


.pagination {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-radius: var(--border-radius);
}

.pagination a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 1.3rem;
}

.footer {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 0;
}


/**
* ? meqdia queries  
*/

@media screen and (max-width: 1024px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    /**
    * ? meqdia queries  
    */
    
}

@media screen and (max-width: 1000px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    .articles {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }    
}
@media screen and (max-width: 700px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    .articles {
        width: 80vw;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }    
}

@media screen and (max-width: 500px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    .articles {
        grid-template-columns: repeat(1, auto);
    }

    .article .body-text {
        font-size: 1rem;
    }
    
}