/**
* ? universal selector and header 
*/

:root {
    --primary-color: #334155;
    --secondary-color : #fff;
    --btn-background: #4ca8e1;
    --btn-background-hover: #0091ff;
    --border-radius: 5px;
  }
  


/**
* ? universal selector and header 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

/**
* ? nav bar style
*/

header nav {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--primary-color);
}

nav .logo h1 {
    font-size: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 44%;
}

nav ul li {
    list-style-type: none;
    color: var(--secondary-color);
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
}

nav ul li:not(:last-child) a:hover,
nav ul li a.active {
    text-decoration: underline 3px;
    text-underline-offset: 4px;
    color: var(--btn-background);
    text-decoration-color: #fff;
}

nav ul .login {
    font-weight: 700;
    padding: 8px 20px;
    border: none;
    background: var(--btn-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--secondary-color);
}

nav ul .login:hover {
    background-color: var(--btn-background-hover);
}

nav .humberger {
    display: none;
    font-size: 30px;
}

/**
* ? main style
*/

main, footer {
    color: #000;
    width: 90%;
    margin: 2rem auto;
}
.page-title {
    width: 100%;
    text-align: center;
}

.page-title h1 {
    font-size: 3rem;
}


.articles {
    display: grid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: #; */
    grid-template-columns: repeat(3, auto);
    gap: 3rem;
    margin: 1rem auto;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.article img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.article .body{
    padding: 1rem;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.article .body .title {
    font-family: 1.5rem;
}

.article .body .body-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.article .body .body-text img {
    width: 40px;
    height: 40px;
}

.article .body .body-text h4{
    color: #30363f;
}

.article a{
    text-decoration: none;
    /* font-weight: 700; */
    padding: 8px 10px;
    border: none;
    background: var(--btn-background);
    border-radius: 6px;
    cursor: pointer;
    color: var(--secondary-color);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}


.pagination {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-radius: var(--border-radius);
}

.pagination a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 1.3rem;
}

.footer {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 0;
}


/**
* ? aubout page 
*/
.article-box {
    width: 90vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.article-detaille {
    background-color: var(--secondary-color);
    max-width: 55vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.article-detaille img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.article-body {
    width: 100%;
    padding: 1rem;
}

.article-detaille .title {
    margin-top: 0rem;
    width: 100%;
    text-align: center;
}

.article-text{
    font-size: 1rem;
    padding: 1rem;
    font-family: sans-serif;
    line-height: 1.4rem;
}

.article-timer {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.article-timer p {
    font-size: 1.3rem;
    padding: 1rem;
}

.article-buttons {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.article-buttons a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--btn-background);
    padding: 8px 1rem;
    border-radius: var(--border-radius);
    transition: background-color o.3s ease;
}

.article-buttons a:hover {
    background-color: var(--btn-background-hover);
}

.article-buttons .delete, .feeds-button .delete {
    background-color: rgb(201, 9, 9);
    transition: background-color o.3s ease;
}
.article-buttons .delete:hover, .feeds-button .delete:hover{
    background-color: rgb(255, 6, 6);
}

.feddbacks {
    background-color: var(--secondary-color);
    max-width: 30vw;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.feddbacks .title {
    text-align: center;
    margin: 1rem 0;
    margin-top: 0;
}

.feddbacks .feddbacks-body {
    margin-top: 1rem;
    padding: 10px 1rem;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.feddbacks .feeds-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.feeds-button .update {
    background-color: var(--btn-background);
}

.feeds-button .update:hover {
    background-color: var(--btn-background-hover);
}

.feddbacks a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 1rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3 ease;
}

/**
* ? meqdia queries  
*/

@media screen and (max-width: 1024px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    /**
    * ? meqdia queries  
    */
    
}

@media screen and (max-width: 1000px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    .articles {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
    
    .article-box {
        padding: 2rem;
        display: block;
        align-items: center;
        width: 100%;
        gap: 1rem;
        background-color: red;
        margin: 0;
    }

    .article-detaille {
        max-width: 100%;
        margin: 1rem;
        
    }
    
    .feddbacks {
        max-width: 100%;
        margin: 1rem;
    }
}
@media screen and (max-width: 700px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }
}

@media screen and (max-width: 500px) {
    nav .humberger {
        display: flex;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 24px;
        height: 320px;
        background-color: #30363f;
    }

    .articles {
        grid-template-columns: repeat(1, auto);
    }

    .article .body-text {
        font-size: 1rem;
    }
    
}