*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px #000;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}


.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}